// tesra101
// ==================================================/
@mixin tesra101_theme() {
  .tesra101 {
    background-color: #f5f3da;
    color: #3b443f;

    .tesra101_segment_comment {
      background-color: #fff;
      // border: 1px solid #3b443f;
    }

    .tesra101_segment_name {
      color: #c32349;
    }

    .tesra101_segment_img-holder {
      background-color: #666;
    }

  }
}
@include tesra101_theme();
.tesra101 {
  @extend %clearfix;

  .tesra101_segment {
    @extend %padd--4;
    float: left;
  }

  .tesra101_segment_comment {
    @extend %pos--relative;
    @extend %br--4;
    @extend %padd--4;
    width: 100%;
    min-height: 60px;
    max-height: 80px;
    
    &:after {
      // speech bubble credits to:
      // leaverou.github.io/bubbly/
      content: ''; 
      position: absolute; 
      bottom: 0; 
      left: 65%; 
      width: 0; 
      height: 0; 
      border: 20px solid transparent; 
      border-top-color: #fff; 
      border-bottom: 0; 
      border-right: 0; 
      margin-left: -10px; 
      margin-bottom: -20px;
    }

    // todo: add overflow clamp 
  }

  .tesra101_segment_user {
    @extend %text--right;
    padding-right: 20px;
    float: left;
  }

  .tesra101_segment_user,
  .tesra101_segment_img-holder {
    @extend %margin-top--4;
  }

  .tesra101_segment_user,
  .tesra101_segment_img-holder {
    overflow: hidden;
  }

  .tesra101_segment_name {
    @extend %font--bold;
  }

  .tesra101_segment_img-holder {
    float: right;
    
    > img {
      min-width: 60px;
    }
  }

  .tesra101_segment_info {
    @extend %margin-top--4;
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tesra101 {
    .tesra101_segment {
      width: 100%;
    }

    .tesra101_segment_user {
      width: 70%;
    }

    .tesra101_segment_img-holder {
      width: 30%;
    }
  }  
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tesra101 {
    .tesra101_segment {
      width: 50%;
    }

  } 
}