// tesra101
// ==================================================/
@mixin tesra101_theme() {
  .tesra101 {
    background-color: #1c1d22;
    color: #d5d5d5;

    .tesra101_comment {
      background-color: #f0f0f0;
      color: #2c2d32;
      border-bottom: 1px solid #be0101;
    }

    .tesra101_name {
      color: #fff;
    }

    .tesra101_img-holder {
      background-color: #666;
    }

  }
}
@include tesra101_theme();
.tesra101 {
  @extend %clearfix;

  .tesra101_segment {
    @extend %padd--4;
    float: left;
  }

  .tesra101_comment {
    @extend %pos--relative;
    @extend %br--4;
    @extend %padd--4;
    width: 100%;
    // min-height: 60px;
    max-height: 80px;

    blockquote {
      height: 60px;
      overflow: hidden;
      quotes: "\201C""\201D""\2018""\2019";

      &::before {
        color: #999;
        content: open-quote;
        content:"\201C"; // Safari/Chrome
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }

      &:after {
        content:"\201D"; // Safari/Chrome
      }

      &:hover {
        overflow-y: scroll;
      }
    }

    &:after {
      // speech bubble credits to:
      // leaverou.github.io/bubbly/
      content: ''; 
      position: absolute; 
      bottom: 0; 
      left: 65%; 
      width: 0; 
      height: 0; 
      border: 20px solid transparent; 
      border-top-color: #f0f0f0; 
      border-bottom: 0; 
      border-right: 0; 
      margin-left: -10px; 
      margin-bottom: -20px;
    }
  }

  .tesra101_user {
    @extend %text--right;
    padding-right: 24px;
    float: left;
  }

  .tesra101_user,
  .tesra101_img-holder {
    @extend %margin-top--4;
  }

  .tesra101_user,
  .tesra101_img-holder {
    overflow: hidden;
  }

  .tesra101_name {
    @extend %font--bold;
  }

  .tesra101_name,
  .tesra101_info  {
    text-overflow: ellipsis;
  }

  .tesra101_img-holder {
    float: right;
    
    > img {
      min-width: 60px;
    }
  }

  .tesra101_info {
    @extend %margin-top--4;
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .tesra101 {
    .tesra101_segment {
      width: 100%;
    }

    .tesra101_user {
      width: 70%;
    }

    .tesra101_img-holder {
      width: 30%;
    }
  }  
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .tesra101 {
    .tesra101_segment {
      width: 50%;
    }

  } 
}